<div class="info-left">
  <span class="title">Chat</span>
  <span class="detail" id="chatters"><%= render :partial => 'chatters' %></span>
</div>
<div class="clear"> </div>

<% if logged_in? %>
  <div class="info-left" style="width:100%;">
    <% @message = Message.new unless @message %>
    <% remote_form_for @message, :loading => "$('message_body').clear();" do |f| -%>
      <%= f.text_field :body, :value => '', :style => "width:70%;" %>&nbsp; 
      <%= submit_tag "Post" %>&nbsp; 
      <%= link_to 'Upload a New File', new_upload_path, :popup => ['height=530,width=820,status=1'] %>
    <% end %>
  </div>
  <div class="clear"> </div>
<% end %>

<table cellspacing="0" class="messages-index">
  <tbody id="messages-index">
    <%= render :partial => 'messages', :locals => { :messages => @messages } %>
  </tbody>
</table>

<p id="messages-more" class="center">
  <%= render :partial => 'more', :object => @last_message unless @messages.size < 50 %>
</p>

<%= periodically_call_remote :url => refresh_messages_path, :method => 'get', :frequency => 3 %>
<%= periodically_call_remote :url => refresh_chatters_path, :method => 'get', :frequency => 10 %>
<%= javascript_tag "$('message_body').focus();$('message_body').writeAttribute('autocomplete', 'off');" if logged_in? %>