<table cellspacing="0" class="messages-index">
  <tbody id="messages-index">
    <tr id="message-<%= @message.id %>">
      <td class="tcu"><%= @message.user %></td>
      <td class="tcl"><%= bb(@message.body) %></td>
      <td class="tcr">
        <%= link_to_remote '(x)', :url => @message, :method => :delete if can_edit?(@message) %>
        <%= link_to time_stamp(@message.created_at, true), @message %> 
      </td>
    </tr>
  </tbody>
</table>