<%= error_messages_for :forum %>
<div class="box" id="box-categories-new">
  <% @forum = Forum.new unless @forum %>
  <% form_for @forum do |f| %>
    <span class="top">New Forum</span>
    <p class="label"><label for="forum_name">Name</label></p>
    <p><%= f.text_field :name, :class => 'text-field' %></p>
    <p class="label"><label for="forum_description">Description</label></p>
    <p><%= f.text_field :description, :class => 'text-field' %></p>
    <p class="label"><label for="forum_category">Category</label></p>
    <p>
      <%= 
        @all_categories = Category.find(:all, :order => "name") 
        f.collection_select(:category_id, @all_categories, :id, :name)       
      %>
    </p>
    <p class="label"><label for="forum_position">Position</label></p>
    <p><%= f.text_field :position, :style => 'width:5%;' %></p>
    <p>
      <%= submit_tag "Add Forum", :disable_with => "Add Forum" %>&nbsp;
      <%= link_to 'Cancel', forum_root_path %>
    </p>
  <% end %>
</div>
<%= javascript_tag "$('forum_name').focus();" %>