<% if logged_in? %>
    <% @comment = Comment.new unless @comment %>
    <% form_for @comment do |f| -%>
    <div class="box-comment" id="box-comments-new">
      <%= f.hidden_field :resource_id, :value => @article.id %>
      <%= f.hidden_field :resource_type, :value => @article.class %>
      <%= f.text_area :body, :value => @body, :rows => '5', :class => 'text-field' %>
      <p>
        <%= submit_tag "Post Comment", :disable_with => "Post Comment" %>&nbsp; 
        <%= link_to 'Upload a New File', new_upload_path, :popup => ['height=530,width=820,status=1'] %> 
      </p>
    </div>
  <% end %>
<% else %>
  <div class="nav nav-spacer">
    <p class="nav-left">
      <%= link_to 'Login', login_path %> or 
      <%= link_to 'Register', register_path %> to post a comment
    </p>
  </div>
  <div class="clear"> </div>
<% end %>
