<div class="info-left">
  <span class="title"><%= number_with_delimiter(@comments.total_entries) %> Comments</span>
</div>
<div class="info-right detail">
  <%= will_paginate @comments, :inner_window => 1, :outer_window => 0, :prev_label => '&laquo; Prev' %>
</div>
<div class="clear"> </div>

<div class="comment-list">
  <% @comments.each do |comment| %>
    <div class="comment" id="c<%= comment.id %>">
      <span class="comment-user"><%= link_to h(comment.user), comment.user %></span> 
      <span class="detail">
        &laquo; <%= link_to comment.resource, comment.resource %>&nbsp; 
        <%= link_to time_ago_or_time_stamp(comment.created_at, Time.now.utc, true, true), comment, :class => 'text' %>
      </span>
      <div class="comment-body"><%=bb comment.body %></div>
    </div>
  <% end %>
</div>
