<div class="title"><%= link_to 'Blog Authors', users_path %></div>
<ul class="secondary-list">
  <li><%= link_to 'Example', users_path %> <span class="detail">(<%= '299' %>)</span></li>
  <li><%= link_to 'Another One', users_path %> <span class="detail">(<%= '101' %>)</span></li>
  <li><%= link_to 'The Third', users_path %> <span class="detail">(<%= '15' %>)</span></li>
</ul>