<%= render :file => 'shared/admin' %>

<div class="box" id="box-themes-index">
  <span class="top"><%=t :themes %></span>
  <% if @themes.empty? %>
    <p><%= link_to I18n.t(:upload_a_new_theme)+' &raquo;', new_theme_path %></p>
  <% else %>
    <% for theme in @themes %>
      <p>
        <%= link_to h(theme), theme.attachment.url %> <%=t :by %> 
        <%= link_to h(theme.user), theme.user %> 
        <% if theme == @current_theme %>
          <%= link_to '('+I18n.t(:deselect)+')', deselect_theme_path(theme), :method => :post %>
        <% else %>
          <%= link_to '('+I18n.t(:select)+')', select_theme_path(theme), :method => :post %>
        <% end %>
        <% if can_edit?(theme) %>
          <%= link_to '('+I18n.t(:x)+')', theme, :confirm => I18n.t(:are_you_sure), :method => :delete %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>
