<%= render :file => 'shared/admin' %>

<div class="box" id="box-themes-index">
  <span class="top">Themes</span>
  <% if @themes.empty? %>
    <p><%= link_to 'Upload a New Theme &raquo;', new_theme_path %></p>
  <% else %>
    <% for theme in @themes %>
      <p>
        <%= link_to h(theme), theme.attachment.url %> by 
        <%= link_to h(theme.user), theme.user %> 
        <% if theme == @current_theme %>
          <%= link_to '(deselect)', deselect_theme_path(theme), :method => :post %>
        <% else %>
          <%= link_to '(select)', select_theme_path(theme), :method => :post %>
        <% end %>
        <% if can_edit?(theme) %>
          <%= link_to '(x)', theme, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>