<%= error_messages_for :theme %>
<% @theme = Theme.new unless @theme %>
<% form_for @theme, :html => { :multipart => true } do |f| -%>
  <div class="box" id="box-themes-new">
    <span class="top">New Theme</span>
    <p><%= f.file_field :attachment %></p>
    <p>Themes must be CSS files smaller than 50k.</p>
    <p>
      <%= submit_tag "Upload", :disable_with => "Upload" %>&nbsp; 
      <% if current_action != 'new' %>
        <%= link_to_function 'Cancel', "$('action').toggle()" %> &nbsp;
      <% else %>
        <%= link_to 'Cancel', themes_path %>
      <% end %>
    </p>
  </div>
<% end %>
