<%= error_messages_for :topic %>  
<% form_for @topic do |f| %>
  <div class="box" id="box-topics-edit">
    <span class="top">Edit Topic</span>
    <p class="label"><label for="topic_title">Title</label></p>
    <p>
      <%= f.text_field :title, :class => 'text-field' %> &nbsp; 
      <%= f.check_box :locked %><label for="topic_locked"> Locked</label> &nbsp; 
      <% if admin? %>
        <%= f.check_box :sticky %><label for="topic_sticky"> Sticky</label>
      <% end %>
    </p>
    <%= render :partial => 'forums/select' %>
    <p>
      <%= submit_tag 'Save Changes', :disable_with => 'Save Changes' %>&nbsp;
      <%= link_to 'Delete', topic_path, :confirm => 'Are you sure?', :method => :delete %> &nbsp;
      <%= link_to 'Cancel', topics_path %>
    </p>
  </div>
<% end %>
<%= javascript_tag "$('topic_title').focus();" %>