<% if current_controller == 'categories' %>
  <div class="info-left">
    <span class="title"><%=h @category %></span>
    <span class="detail"> &laquo; <%= @forums.map { |forum| link_to "#{h(forum)}", forum } * ", " %></span>
  </div>
<% elsif current_controller == 'forums' %>
  <div class="info-left">
    <span class="title"><%=h @forum %></span>
    <span class="detail">
      &laquo; <%= link_to h(@forum.category), @forum.category %>
    </span>
    <span class="detail">&nbsp;| &nbsp;<%=h @forum.description %></span>
  </div>
<% end %>
<div class="clear"> </div>

<% if !@topics.blank? %>
  <table cellspacing="0" class="topics-index">
    <thead>
      <tr>
        <th class="tcl" colspan="2"><%= link_to I18n.t(:topics), topics_path %></th>
        <% if %w(categories topics).include?(current_controller) %>
          <th class="tcl tcf"><%=t :forum %></th>
        <% end %>
        <th class="tcm"><%=t :replies %></th>
        <% unless current_controller == 'home' %>
          <th class="tcm"><%=t :views %></th>
        <% end %>
        <th class="tcr"><%= link_to I18n.t(:activity), posts_path %></th>
      </tr>
    </thead>
    <tbody>
      <% for topic in @topics %>
        <tr>
          <td class="tci"><%= icon_for(topic) %></td>
          <td class="tcl">
            <span class="topic-status"><%= I18n.t(:sticky) if topic.sticky? %> <%= I18n.t(:locked) if topic.locked? %></span>
            <%= link_to h(topic), topic %> <%=t :by %> <%=h topic.user %>
          </td>
          <% if %w(categories topics).include?(current_controller) %>
            <td class="tcl">
              <%= link_to h(topic.forum), topic.forum %>
            </td>
          <% end %>
          <td class="tcm"><%= number_with_delimiter(topic.replies) %></td>
          <% unless current_controller == 'home' %>
            <td class="tcm"><%= number_with_delimiter(topic.views) %></td>
          <% end %>
          <td class="tcr">
            <%= link_to time_ago_or_time_stamp(topic.last_post_at), show_new_topic_path(topic) %> 
            <%=t :by %> <%=h topic.last_poster %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if current_controller == 'categories' %>
    <div class="nav nav-footer">
      <p class="nav-left">
        <% if @category.forums.blank? %>
          <%= link_to I18n.t(:create_a_new_forum)+' &raquo;', new_forum_path(:category_id => @category.id) %>
        <% else %>
          <%= link_to I18n.t(:start_a_new_topic)+' &raquo;', new_topic_path %>
        <% end %>
      </p>
    </div>
  <% elsif current_controller == 'forums' %>
    <div class="nav nav-footer">
      <p class="nav-left"><%= link_to I18n.t(:start_a_new_topic)+' &raquo;', new_topic_path(:forum_id => @forum.id) %></p>
    </div>
  <% end %>
<% end %>