<% unless %w(posts search users).include?(current_controller) %>
  <div class="info-left">
    <span class="title"><%=h @topic %></span>
    <span class="detail">
      &laquo; <%= link_to h(@topic.forum), @topic.forum %>
      &laquo; <%= link_to h(@topic.forum.category), @topic.forum.category %>
    </span>
  </div>
  <div class="info-right">
    <span class="title">&nbsp;</span>
    <span class="detail"><%= will_paginate @posts, :inner_window => 1, :outer_window => 0, :prev_label => '&laquo; Prev' %></span>
  </div>
  <div class="clear"> </div>
<% end %>

<% if %w(posts).include?(current_controller) %>
  <div class="info-left">
    <span class="title"><%= number_with_delimiter(@posts.total_entries) %> Posts</span>
    <span class="detail"></span>
  </div>
  <div class="info-right">
    <span class="title">&nbsp;</span>
    <span class="detail"><%= will_paginate @posts, :inner_window => 1, :outer_window => 0, :prev_label => '&laquo; Prev' %></span>
  </div>
  <div class="clear"> </div>
<% end %>

<% if %w(users).include?(current_controller) %>
  <div class="info-left">
    <span class="title"><%=h @user %></span>
    <span class="detail">&nbsp;|&nbsp; <%= @user.posts.size %> Posts</span>
  </div>
  <div class="info-right">
    <span class="title">&nbsp;</span>
    <span class="detail"><%= will_paginate @posts, :inner_window => 1, :outer_window => 0, :prev_label => '&laquo; Prev' %></span>
  </div>
  <div class="clear"> </div>
<% end %>

<% @posts.each_with_index do |post, index| index+=1 %>
  <%= render :file => 'posts/show', :locals => { :post => post, :index => index } %>
<% end %>

<% unless %w(search).include?(current_controller) %>
  <div class="info-left info-space info-width info-footer info-prev">
    <%= prev_page @posts %>
  </div>
  <div class="info-center info-space info-width info-footer info-page">
    <%= current_page @posts %>
  </div>
  <div class="info-right info-space info-width info-footer info-next">
    <%= next_page @posts %>
  </div>
  <div class="clear"> </div>
<% end %>

<% unless %w(posts search users).include?(current_controller) %>
  <% if logged_in? && (!@topic.locked || can_edit?(@topic)) %>
    <%= render :file => 'posts/new' %>
  <% end %>
  <% if @topic.locked && !can_edit?(@topic) %>
    <div class="nav nav-footer">
      <p class="nav-right">This Topic is Locked</p>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div class="nav nav-footer">
      <p class="nav-right">
        <%= link_to 'Login', login_path %> or 
        <%= link_to 'Register', register_path %> to post a reply
      </p>
    </div>
  <% end %>
<% end %>