<div id="action" style="display:none;">
  <%= render 'topics/new' %>
</div>

<% unless current_controller == 'search' %>
  <div class="info-left">
    <span class="title"><%=h @topic.title %></span>
    <span class="detail">
      &laquo; <%= link_to @topic.forum.name, @topic.forum %>
      &laquo; <%= link_to @topic.forum.category.name, @topic.forum.category %>
      &nbsp;|&nbsp; 
      <%= @topic.private? ? 'Private' : 'Public' %><%= @topic.locked? ? ', Locked' : '' %>
    </span>
  </div>
  <div class="info-right">
    <span class="title">&nbsp;</span>
    <span class="detail">
      <%= link_to_remote "#{pluralize(number_with_delimiter(@topic.posts_count), 'Post')} by #{pluralize(number_with_delimiter(@topic.posters), 'User')}", :url => {:action => 'show_posters', :id => @topic.id} %>
      <% if @topic.last_page != 1 %>
      &nbsp;|&nbsp;&nbsp;<%= will_paginate @posts, :inner_window => 1, :outer_window => 0, :prev_label => '&laquo; Prev' %>
      <% end %>
    </span>
  </div>
  <div style="clear:both;"> </div>
<% end %>

<div class="info-left detail" id="posters" style="display:none;"></div>
<div style="clear:both;"> </div>

<% @posts.each_with_index do |post, index| index+=1 %>
  <%= render 'posts/show', { :post => post, :index => index } %>
<% end %>

<% unless current_controller == 'search' %>
  <div class="info-left detail" style="margin-top:5px;width:32%;">
    <%= link_to('&laquo; ' + truncate(@previous_topic.title, 45), show_new_topic_path(@previous_topic)) unless @previous_topic == @topic %>
    <% if @previous_topic == @topic %>&laquo; Previous Topic<% end %>
  </div>
  <div class="info-center detail" style="margin-top:5px;width:32%;">
    <%= will_paginate @posts, :inner_window => 1, :outer_window => 0, :next_label => 'Next Page &raquo;', :prev_label => '&laquo; Prev Page' %>
  </div>
  <div class="info-right detail" style="margin-top:5px;width:32%;">
    <%= link_to(truncate(@next_topic.title, 45) + ' &raquo;', show_new_topic_path(@next_topic)) unless @next_topic == @topic %>
    <% if @next_topic == @topic %>Next Topic &raquo;<% end %>
  </div>
  <div style="clear:both;"> </div>
<% end %>

<% unless current_controller == 'search' %>
  <% if logged_in? && (!@topic.locked || can_edit?(@topic)) %>
    <%= render 'posts/new' %>
  <% end %>
  <% if @topic.locked && !can_edit?(@topic) %>
    <div class="nav nav-footer">
      <p class="nav-right">This Topic is Locked</p>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div class="nav nav-footer">
      <p class="nav-right">
        <%= link_to('Login', login_path) %> or 
        <%= link_to('Register', register_path) %> to post a reply
      </p>
    </div>
  <% end %>
<% end %>
