<% if current_controller == 'users' %>
  <div class="info-left">
    <span class="title"><%=t :users %></span>
    <span class="detail">&nbsp;|&nbsp;<%= pluralize(number_with_delimiter(@users_count) || 0, 'Users') %></span>
  </div>  
  <div class="info-right">
    <span class="title">&nbsp;</span>
    <span class="detail">
      <%= link_to 'Avatars', avatars_path %> &nbsp; 
      <%= link_to 'Ranks', ranks_path %>
    </span>
  </div>
  <div class="clear"> </div>
  
  <% if logged_in? %>
    <%#= render :file => 'users/show', :locals => {:user => current_user } %>
  <% end %>
  
<% end %>

<% unless @users.blank? %>
  <table cellspacing="0">
    <thead>
      <tr>
        <th class="tcl" colspan="2"><%= link_to 'Users', users_path %></th>
        <% unless current_controller == 'home' %>
          <th class="tcl">Profile Updated</th>
          <th class="tcl">Last Visit</th>
          <th class="tcm">Posts</th>
          <th class="tcr">Registered</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% for user in @users %>
        <tr>
          <td class="tci"><%= icon_for(user) %></td>
          <td class="tcl"><%= link_to h(user), user %></td>
          <% unless current_controller == 'home' %>
            <td class="tcl"><%= time_ago_or_time_stamp(user.profile_updated_at) %></td>
            <td class="tcl"><%= time_ago_or_time_stamp(user.online_at) %></td>
            <td class="tcm"><%= number_with_delimiter(user.posts_count) %></td>
            <td class="tcr"><%= user.created_at.strftime("%b %d, %Y") %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
