<%= error_messages_for :user %>
<% @user = User.new %>
<% form_for @user, :url => login_path do |f| %>
  <div class="box" id="box-users-login">
    <span class="top"><%=t :login %></span>
    <p class="label"><label for="user_login"><%=t :username %></label></p>
    <p><%= f.text_field :login, :style => "width:30%" %></p>
    <p class="label"><label for="user_password"><%=t :password %></label></p>
    <p><%= f.password_field :password, :style => "width:30%" %></p>
    <p>
      <%= submit_tag I18n.t(:login), :disable_with => I18n.t(:login) %>&nbsp;
      <%= link_to I18n.t(:cancel), root_path %>
    </p>
  </div>
<% end %>

<%= javascript_tag "$('user_login').focus();" %>