<%= error_messages_for :user %>
<% @user = User.new unless @user %>
<% form_for @user do |f| %>
  <div class="box" id="box-users-new">
    <span class="top">Register</span>
    <p class="label"><label for="user_username">Username</label></p>
    <p><%= f.text_field :login, :style => "width:31%" %></p>
    <p class="label"><label for="user_email">Email</label></p>
    <p><%= f.text_field :email, :style => "width:31%" %></p>
    <p class="label"><label for="user_password">Password (twice)</label></p>
    <p>
      <%= f.password_field :password, :style => "width:15%" %> &nbsp;
      <%= f.password_field :password_confirmation, :style => "width:15%" %>
    </p>
    <p>
      <%= submit_tag "Register", :disable_with => "Register" %>&nbsp;
      <%= link_to 'Cancel', root_path %>
    </p>
  </div>
<% end %>
<%= javascript_tag "$('user_login').focus();" %>