<% @user ||= user %>
<div class="box" id="box-users-show">
  <span class="top">Profile</span>
  <span class="profile-avatar"><%= avatar_for(@user) %></span>
  <div style="margin-top:10px;">
    <span class="profile-title"><%=h @user %></span>&nbsp;
    <span class="profile-rank"><%=h rank_for(@user) %> &mdash; <%= link_to number_with_delimiter(@user.posts_count) + ' posts', user_posts_path(@user) %></span>
  </div>
  
  <div class="profile-bio">
    <p><%=h @user.bio %></p>
  </div>
  
  <% if !@user.signature.blank? %>
    <hr class="sig-hr" /><%= bb(@user.signature) %>
  <% end %>  
  
  <p style="margin-top:20px">
    <b>Registered</b>: <%= time_ago_or_time_stamp(@user.created_at) %> &nbsp;
    <b>Last Visit</b>: <%= time_ago_or_time_stamp(@user.online_at) %> &nbsp;
    <b>Profile Updated</b>: <%= time_ago_or_time_stamp(@user.profile_updated_at) %>
  </p>
  <div class="clear"> </div>  
</div>
