<ul class="tabs">
  <li id="tab-home" class="tab <%= tab('home') %>"><%= link_to 'Home', root_path %></li>
  <li id="tab-blog" class="tab <%= tab('articles') %>"><%= link_to 'Blog', blog_path %></li>
  <li id="tab-chat" class="tab <%= tab('messages') %>"><%= link_to 'Chat', chat_path %></li>
  <li id="tab-events" class="tab <%= tab('events') %>"><%= link_to 'Events', events_path %></li>
  <li id="tab-files" class="tab <%= tab('uploads') %>"><%= link_to 'Files', files_path %></li>
  <li id="tab-forum" class="tab <%= tab('forums') %>"><%= link_to 'Forum', forum_root_path %></li>
  <li id="tab-headers" class="tab <%= tab('headers') %>"><%= link_to 'Headers', headers_path %></li>
  <li id="tab-users" class="tab <%= tab('users') %>"><%= link_to 'Users', users_path %></li>
</ul>