<div class="home-left">
  <% unless @chatters.empty? %>
    <div class="info-left">
      <span class="title"><%= link_to 'Chat', chat_path %></span>
      <span class="detail">
        &laquo; <%= render :partial => 'messages/chatters' %>
        &nbsp;|&nbsp; Last active at <%= time_stamp(@message.created_at, true) %>
      </span>
    </div>
  <% end %>
  <%= render 'topics/index' %>
</div>

<div class="home-right">
  <%= render :partial => 'events/mini.html.erb' %>
  <%= render 'uploads/index' %>
  <%= render 'headers/list' %>
  <%= render 'users/index' %>
  <%= render 'avatars/list' %>
</div>

<div style="clear:both;"> </div>