<div class="home-left">
  <% unless @chatters.empty? %>
    <div class="info-left">
      <b>Chat</b>: <span class="detail"><%= render :partial => 'messages/chatters' %></span>
    </div>
  <% end %>
  <%= render 'topics/index' %>
</div>

<div class="home-right">
  <%= render :partial => 'events/mini.html.erb' %>
  <%= render 'uploads/index' %>
  <%= render 'headers/list' %>
  <%= render 'users/index' %>
  <%= render 'avatars/list' %>
</div>

<div style="clear:both;"> </div>