<div class="home-left">
  <% unless @chatters.empty? || @message.nil? %>
    <div class="info-left">
      <span class="title"><%= link_to 'Chat', chat_path %></span>
      <span class="detail">
        <%= render :partial => 'messages/chatters' %>
        &nbsp;|&nbsp; <%= link_to "Last active #{time_ago_or_time_stamp(@message.created_at)}", chat_path, :class => 'text' if @message %>
      </span>
    </div>
  <% end %>
  <%= render :file => 'topics/index' %>
</div>

<div class="home-right">
  <%= render :partial => 'events/mini.html.erb' %>
  <%= render :file => 'uploads/index' %>
  <%= render :file => 'headers/list' %>
  <%= render :file => 'users/index' %>
  <%= render :file => 'avatars/list' %>
</div>

<div class="clear"> </div>