<div class="home-left">
  <%= render :partial => 'messages/mini' if enabled?('forum') %>
  <%= render :file => 'topics/index' if enabled?('forum') %>
</div>

<div class="home-right">
  <%= render :file => 'articles/list' if enabled?('blog') %>
  <%= render :partial => 'events/mini' if enabled?('events') %>
  <%= render :file => 'uploads/index' if enabled?('files') %>
  <%= render :file => 'headers/list' if enabled?('headers') %>
  <%= render :file => 'users/index' if enabled?('users') %>
</div>

<div class="clear"> </div>