<div class="home-left">
  <%= render 'topics/index' %>
</div>

<div class="home-right">
  <%= render :partial => 'events/mini.html.erb' %>
  <%= render 'uploads/index' %>
  <%= render 'headers/list' %>
  <%= render 'users/index' %>
  <%= render 'avatars/list' %>
</div>

<div style="clear:both;"> </div>