<%= error_messages_for :event %>
<% @event = Event.new unless @event %>
<% form_for @event do |f| %>
  <div class="box" id="box-events-new">
    <span class="top">New Event</span>
    <div class="calendar_select"><%= f.calendar_date_select :date, :embedded => true %></div>
    <p class="label"><label for="event_title">Title</label></p>
    <p><%= f.text_field :title, :class => 'text-field' %></p>
    <!-- <p class="label"><label for="event_date">Date</label></p>
    <p><%#= f.datetime_select :date %></p> -->
    <p class="label"><label for="event_description">Description</label></p>
    <p><%= f.text_area :description, :rows => '10', :class => 'text-field' %></p>
    <%= f.check_box :reminder %><label for="event_reminder"> Reminder <span class="detail">(Show a reminder 6 hours before and 2 hours after this event.)</span></label>
    <p>
      <%= submit_tag "Add Event", :disable_with => "Add Event" %>&nbsp;
      <%= link_to 'Upload a New File', new_upload_path, :popup => ['height=520,width=820'] %> &nbsp; 
      <% if current_action != 'new' %>
        <%= link_to_function 'Cancel', "$('action').toggle()" %>
      <% else %>
        <%= link_to 'Cancel', events_path %>
      <% end %>
    </p>
  <% end %>
  <div class="clear"> </div>
</div>
<%= javascript_tag "$('event_title').focus();" %>
<% content_for :head do %>
  <%= calendar_date_select_includes 'default' %>
<% end %>