<div class="info-left">
  <span class="title"><%=h @event %></span>
  <span class="detail">
    by <%= link_to h(@event.user), @event.user %>
    <%= @event.reminder? ? '&nbsp;|&nbsp; Reminder' : '' %>
  </span>
</div>
<div style="clear:both;margin-bottom:-10px;"> </div>

<blockquote>
  <p style="margin-top:0;font-weight:bold;">
    <%= time_stamp(@event.date) %>
  </p>
  <%= bb(@event.description) %>
</blockquote>