<div class="info-left">
  <span class="title"><%=h @event.title %></span>
  <span class="detail">
    by <%= link_to h(@event.user.login), @event.user %>
    &nbsp;|&nbsp; 
    <%= @event.private? ? 'Private' : 'Public' %><%= @event.reminder? ? ', Reminder' : '' %>
  </span>
</div>
<div style="clear:both;"> </div>

<% if !@event.description.blank? %>
  <blockquote>
    <p style="margin-top:0;font-weight:bold;">
      <%=tz @event.date %>
    </p>
    <%= bb(@event.description) %>
  </blockquote>
<% end %>
