<%= render :file =>  'shared/admin' %>

<% form_for @settings do |f| -%>
  <div class="box" id="box-settings-index">
    <span class="top">Settings</span>
      <p class="label"><label for="setting_title">Title</label></p>
      <p><%= f.text_field :title, :class => 'text-field' %></p>
      <p class="label"><label for="setting_tagline">Tagline</label></p>
      <p><%= f.text_field :tagline, :class => 'text-field' %></p>
      <p class="label"><label for="setting_login_message">Login Message</label></p>
      <p><%= f.text_field :login_message, :class => 'text-field' %></p>
      <p class="label"><label for="setting_announcement">Announcement</label></p>
      <p><%= f.text_area :announcement, :rows => '3', :class => 'text-field' %></p>
      <p class="label"><label for="setting_footer">Footer</label></p>
      <p><%= f.text_area :footer, :rows => '3', :class => 'text-field' %></p>
      <p class="label"><label for="setting_favicon">Favicon</label></p>
      <p><%= f.text_field :favicon, :class => 'text-field' %></p>
      <p class="label">
        <label for="setting_admin_only_create">Admin-Only Create Actions</label>&nbsp;
        <span class="detail">For example, "articles" would restrict creating new blog articles to admins only.</span>
      </p>
      <p><%= f.text_field :admin_only_create, :class => 'text-field' %></p>
      <p><%= f.check_box :private %> <label for="setting_private">Private</label>&nbsp; 
        <span class="detail">Require login for all actions, including creating new users. (Uploaded files will still be publicly accessible.)</span>
      </p>
      <p class="label"><label for="setting_time_zone">Default Timezone</label></p>
      <p><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></p>
      <p>
        <%= submit_tag 'Save Changes', :disable_with => 'Save Changes' %>&nbsp; 
        <%= link_to 'Cancel', root_path %> &nbsp;
      </p>
    </div>
<% end %>
