<%= error_messages_for :rank %>
<% form_for @rank do |f| %>
  <div class="box" id="box-ranks-edit">
    <span class="top">Edit Rank</span>
    <p class="label"><label for="rank_title">Title</label></p>
    <p><%= f.text_field :title, :style => 'width:20%;' %></p>
    <p class="label"><label for="rank_min_posts">Minimum Posts</label></p>
    <p><%= f.text_field :min_posts, :style => 'width:5%;' %></p>
    <p>
      <%= submit_tag 'Save Changes', :disable_with => 'Save Changes' %>&nbsp;
      <%= link_to 'Cancel', ranks_path %>
    </p>
</div>
<% end %>
<%= javascript_tag "$('rank_title').focus();" %>