<%= render 'shared/admin.html.erb' %>
<%= error_messages_for :rank %>

<% if @ranks.empty? %>
  <div class="nav nav-footer">
    <p class="nav-left"><%= link_to 'Add a New Rank &raquo;', new_rank_path %></p>
  </div>
<% else %>
  <table cellspacing="0">
    <thead>
      <tr>
        <th class="tcl">Rank</th>
        <th class="tcl">Minimum Posts</th>
        <th class="tcr"></th>
      </tr>
    </thead>
    <tbody>
      <% for rank in @ranks %>
        <tr>
          <td class="tcl"><%= rank.to_s %></td>
          <td class="tcl"><%= rank.min_posts %></td>
          <td class="tcr"><%= link_to 'Edit', edit_rank_path(rank) %>&nbsp; <%= link_to '(x)', rank, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>