<%= error_messages_for :rank %>

<% if @ranks.empty? && admin? %>
  <div class="nav nav-footer">
    <p class="nav-left"><%= link_to I18n.t(:add_a_new_rank)+' &raquo;', new_rank_path %></p>
  </div>
<% end %>
<% unless @ranks.empty? %>
  <table cellspacing="0">
    <thead>
      <tr>
        <th class="tcl"><%=t :rank %></th>
        <th class="tcl"><%=t :minimum_posts %></th>
        <% if admin? %>
          <th class="tcr"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% for rank in @ranks %>
        <tr>
          <td class="tcl"><%=h rank %></td>
          <td class="tcl"><%= rank.min_posts %></td>
          <% if admin? %>
            <td class="tcr">
              <%= link_to I18n.t(:edit), edit_rank_path(rank) if admin? %>&nbsp; 
              <%= link_to '('+I18n.t(:x)+')', rank, :confirm => I18n.t(:are_you_sure), :method => :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>