<h1>New subscription</h1>

<%= error_messages_for :subscription %>

<% form_for @subscription  do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Topic</b><br />
    <%= f.text_field :topic_id %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', subscriptions_path %>