<%= error_messages_for :avatar %>
<% @avatar = Avatar.new unless @avatar %>
<% form_for @avatar, :html => { :multipart => true } do |f| -%>
  <div class="box" id="box-avatars-new">
    <span class="top">New Avatar</span>
    <p><%= f.file_field :attachment %></p>
    <p>
      <%= submit_tag "Upload", :disable_with => "Upload" %>&nbsp;
      <% if current_action != 'new' %>
        <%= link_to_function 'Cancel', "$('action').toggle()" %>
      <% else %>
        <%= link_to 'Cancel', avatars_path %>
      <% end %>
    </p>
  </div>
<% end %>