<%= error_messages_for :post %>
<% form_for @post do |f| %>
  <div class="box" id="box-posts-edit">
    <span class="top"><%=t :edit_post %></span>
    <p><%= f.text_area :body, :rows => '10', :class => 'text-field' %></p>
    <p>
      <%= submit_tag I18n.t(:save_changes), :disable_with => I18n.t(:save_changes) %>&nbsp;
      <%= link_to I18n.t(:upload_a_new_file), new_upload_path, :popup => ['height=530,width=820,status=1'] %> &nbsp;
      <% if @topic.posts_count > 1 %>
        <%= link_to I18n.t(:delete), post_path, :confirm => I18n.t(:are_you_sure), :method => :delete %> &nbsp;
      <% end %>
      <% if can_edit?(@post.topic) %>
        <%= link_to I18n.t(:edit_topic), edit_topic_path(@post.topic) %> &nbsp; 
      <% end %>
      <%= link_to I18n.t(:cancel), topic_post_path(@post) %>
    </p>
  </div>
<% end %>
<%= javascript_tag "$('post_body').focus();" %>