<% post = @post unless @post.nil? %>
<table class="thread" cellspacing="0" id="p<%= post.id %>">
  <thead>
    <tr>
      <th><%= time_ago_or_time_stamp(post.created_at, Time.now.utc, true, true) %></th>
      <th class="thr">
        <% if %w(search posts users).include?(current_controller) %>
          <%= link_to h(post.topic) + ' &raquo;', topic_post_path(post) %>
        <% else %>
          <%= "#" + (index + @padding).to_s %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="profile">
        <dl>
          <dt><%= link_to h(post.user), post.user %></dt>
          <dd class="rank"><%= rank_for(post.user) %></dd>
          <dd class="avatar">
            <%= link_to avatar_for(post.user), post.user unless post.user.avatar.nil? %>
          </dd>
          <dd><%=t :registered %>: <%= I18n.l(post.user.created_at, :format => :ed_month) %></dd>
          <% unless post.user.is_online? %>
            <dd><%=t :last_visit %>: <%= time_ago_or_time_stamp(post.user.online_at) %></dd>
          <% end %>
          <dd><%=t :posts %>: <%= post.user.posts_count %></dd>
        </dl>
      </td>
      <td class="body">
        <div class="post-body">
          <%= bb(post.body) %>
          <% if (post.updated_at > post.created_at + 5.minutes) %>
            <p class="edited">
              <%=t :last_edited %>: <%= time_ago_or_time_stamp(post.updated_at, Time.now.utc, true, true) %>
              <%= I18n.t(:by) + ' ' + h(post.editor) if post.editor %>
            </p>
          <% end %>
          <% if !post.user.signature.blank? %>
            <hr class="sig-hr" />
            <div class="sig">
              <%= bb(post.user.signature) %>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <% if post.user.is_online? %>
          <b><%=t :online %></b>
        <% else %>
          <%=t :offline %>
        <% end %>
      </td>
      <td class="body links">
        <span id ="post-link-<%= post.id %>">
          <%= link_to_function I18n.t(:link), "$('post-link-#{post.id}').toggle();$('post-links-#{post.id}').toggle();" %>
        </span>
        <span id="post-links-<%= post.id %>" style="display:none;">
          <%= link_to I18n.t(:post), post %>
          &nbsp; <%= link_to I18n.t(:topic), topic_post_path(post) %>
          &nbsp; <%= link_to_function '('+I18n.t(:x)+')', "$('post-link-#{post.id}').toggle();$('post-links-#{post.id}').toggle();" %>
        </span>   
        <% if %w(posts search users).include?(current_controller) %>
          <% if logged_in? && !post.topic.locked %>
            &nbsp; <%= link_to I18n.t(:quote), quote_post_path(post) %>
          <% end %>
        <% else %>
          <% if logged_in? && !@topic.locked %>
            &nbsp; <%= link_to I18n.t(:quote), quote_post_path(post) %>
          <% end %>
        <% end %>
        <% if can_edit?(post) %>
          &nbsp; <%= link_to I18n.t(:edit), edit_post_path(post) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>