<%= error_messages_for :header %>

<div class="info-left">
  <span class="title"><%=h @header %></span>
  <span class="detail">by <%= link_to h(@header.user), @header.user %></span>
</div>
<div class="clear"> </div>

<% form_for @header do |f| -%>
  <div class="box" id="box-headers-edit">
    <span class="top">Edit Header</span>
    <p class="label"><label for="header_description">Description</label></p>
    <p><%= f.text_area :description, :rows => '4', :class => 'text-field' %></p>
    <p>
      <%= submit_tag 'Save Changes', :disable_with => 'Save Changes' %>&nbsp;
      <%= link_to 'Delete', @header, :confirm => 'Are you sure?', :method => :delete %> &nbsp;
      <%= link_to 'Cancel', @header %>
    </p>
  </div>
<% end %>

<%= javascript_tag "$('header_description').focus();" %>
