<%= error_messages_for :header %>
<% @header = Header.new unless @header %>
<% form_for @header, :html => { :multipart => true } do |f| -%>
  <div class="box" id="box-headers-new">
    <span class="top"><%=t :new_header %></span>
    <p><%= f.file_field :attachment %></p>
    <p><%=t :headers_info, :scope => :messages %></p>
    <p class="label"><label for="header_description"><%=t :description %> (<%=t :optional %>)</label></p>
    <p><%= f.text_area :description, :rows => '4', :class => 'text-field' %></p>
    <p>
      <%= submit_tag I18n.t(:upload), :disable_with => I18n.t(:upload) %>&nbsp;
      <% if current_action != 'new' %>
        <%= link_to_function I18n.t(:cancel), "$('action').toggle()" %>
      <% else %>
        <%= link_to I18n.t(:cancel), headers_path %>
      <% end %>
    </p>
  </div>
<% end %>
