<%= error_messages_for :header %>
<% @header = Header.new unless @header %>
<% form_for @header, :html => { :multipart => true } do |f| -%>
  <div class="box" id="box-headers-new">
    <span class="top">New Header</span>
    <p><%= f.file_field :attachment %></p>
    <p>Headers should be sized 760x200px.</p>
    <p class="label"><label for="header_description">Description (optional)</label></p>
    <p><%= f.text_area :description, :rows => '4', :class => 'text-field' %></p>
    <p>
      <%= submit_tag "Upload", :disable_with => "Upload" %>&nbsp;
      <% if current_action != 'new' %>
        <%= link_to_function 'Cancel', "$('action').toggle()" %>
      <% else %>
        <%= link_to 'Cancel', headers_path %>
      <% end %>
    </p>
  </div>
<% end %>
