<div class="info-left">
  <span class="title"><%=h @header %></span>
  <span class="detail">by <%= link_to h(@header.user), @header.user %></span>
</div>
<div class="info-right">
  Votes (<span id="remote"><%= render :partial => 'votes.html.erb' %></span>)
  <% if logged_in? %>
    <%= link_to_remote "+", :url => {:action => 'vote_up'}, :update => 'remote' %>
    <%= link_to_remote "&ndash;", :url => {:action => 'vote_down'}, :update => 'remote' %>
  <% end %>
</div>
<div class="clear"> </div>

<% if !@header.description.blank? %>
  <blockquote><%=h @header.description %></blockquote>
<% end %>
