<%= error_messages_for :category %>
<div class="box" id="box-categories-edit">
  <% form_for @category do |f| %>
    <span class="top">Edit Category</span>
    <p class="label"><label for="category_name">Name</label></p>
    <p><%= f.text_field :name, :class => 'text-field' %></p>
    <p class="label"><label for="category_position">Position</label></p>
    <p><%= f.text_field :position, :style => 'width:5%;' %></p>
    <p>
      <%= submit_tag 'Save Changes', :disable_with => 'Save Changes' %>&nbsp;
      <%= link_to 'Delete', confirm_delete_category_path %> &nbsp; 
      <%= link_to 'Cancel', @category %>
    </p>
  <% end %>
</div>