<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="description" content="<%= page_title %>" />
  
  <title><%= page_title %></title>
  <!-- Powered by El Dorado (http://almosteffortless.com) -->

  <link rel="shortcut icon" href="<%= @settings.favicon unless @settings.favicon.blank? %>" />
  
  <%= header_css %>
  <%= theme_css %>
  
  <%= javascript_include_tag "prototype", "prototip", "audio-player" %>
  
</head>
<body class="controller-<%= current_controller %> action-<%= current_action %>">

  <div class="wrapper">
    
    <%= render :partial => 'events/reminders.html.erb' %>
    
    <div class="header">
      <h1><%= link_to h(@settings.title), root_path %></h1>
      <div class="tagline"><%=h @settings.tagline %></div>
    </div>
    
      <%= render 'shared/tabs' unless locked_out? %>
    
      <div class="content">
      
        <%= render 'shared/nav' %>

        <div class="announcement"><%= @settings.announcement %></div>
        
        <%= render :partial => 'search/form.html.erb' if current_controller == 'search' %>
            
        <%= content_tag 'div', h(flash[:notice]), :id => 'notice' if flash[:notice] %>
        <%= content_tag 'div', h(flash[:error]), :id => 'error' if flash[:error] %>
      
        <%= yield %>
      
        <%= render 'shared/nav2' %>
        <%= render 'shared/stats' unless locked_out? %>
            
      </div>
    
      <div class="footer"><%= @settings.footer %></div>
    
  </div>
    
  <div style="margin:20px"> </div>
    
</body>
</html>
